/* ---- reset ---- */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit; 
}
  
body {
    margin: 0 10px;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

.home-page {
    background-color: rgb(255, 229, 180);
    display: flex;
    flex-wrap: wrap;
    height: 600px;
}

.home-title {
    display: block;
    width: 100%;
    margin: 0;
    margin: 90px 0;
    text-align: center;
}
.artist-buttons {
    display: flex;
    width: 100%;
    margin: 120px 0;
    justify-content: space-around;
}
.artist-buttons button{
    background-color: rgb(255, 229, 180);
    font-size: 30px;
}

.hide {
    display: none;
}

.game-screen {
    background-color: rgb(255, 232, 236); 
}
  
.question-box {
    display: block;
    width: 40%;
    margin: auto;
    margin-top: 70px;
    text-align: center;
    height: 250px;
}
  
.answer-boxes {
    margin: 40px 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
  
.paper {
    background: #fff;
    box-shadow: /* The top layer shadow */
                0 1px 1px rgba(0,0,0,0.15),
                /* The second layer */
                0 10px 0 -5px #eee,
                /* The second layer shadow */
                0 10px 1px -4px rgba(0,0,0,0.15),
                /* The third layer */
                0 20px 0 -10px #eee,
                /* The third layer shadow */
                0 20px 1px -9px rgba(0,0,0,0.15);
                /* Padding for demo purposes */
    padding: 20px;
    margin-bottom: 100px;
}
  
  .answer-a-box {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    padding: 5px;
  }
  
  .answer-b-box {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    padding: 5px;
  }
  
.answer-c-box {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    padding: 5px;
}